<a href="https://colab.research.google.com/github/sideltania/skillfactory_rds/blob/master/%5BSF_DST%5D_Movies_IMBD_v3_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
print(os.chdir("/content/drive/My Drive/"))

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive
None

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [218]:
data = pd.read_csv('data.csv')
#, parse_dates=['release_date']
data.head(5)
display(data)

        imdb_id  popularity     budget  ...  vote_count vote_average release_year
0     tt0369610   32.985763  150000000  ...        5562          6.5         2015
1     tt1392190   28.419936  150000000  ...        6185          7.1         2015
2     tt2908446   13.112507  110000000  ...        2480          6.3         2015
3     tt2488496   11.173104  200000000  ...        5292          7.5         2015
4     tt2820852    9.335014  190000000  ...        2947          7.3         2015
...         ...         ...        ...  ...         ...          ...          ...
1885  tt0120903    0.182246   75000000  ...        2766          6.6         2000
1886  tt0192255    0.123920   22000000  ...          42          6.4         2000
1887  tt0131704    0.104908   76000000  ...          35          4.0         2000
1888  tt0162983    0.031018   40000000  ...          21          5.2         2000
1889  tt0163676    0.015997   15000000  ...          12          5.2         2000

[1890 rows x 16 columns]

In [0]:
len(data)

1890

# Предобработка датасета

In [0]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [0]:
data[data.budget==data.budget.max()]
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [326]:
answer_ls.append(2)
data[data.runtime==data.runtime.max()]

        imdb_id  popularity  ...  title_length  title_length_word
1158  tt0279111    0.469518  ...            17                  3

[1 rows x 21 columns]

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [327]:
answer_ls.append(3)
data[data.runtime==data.runtime.min()]

       imdb_id  popularity  ...  title_length  title_length_word
769  tt1449283    1.425344  ...            15                  3

[1 rows x 21 columns]

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [328]:
answer_ls.append(2)
data.runtime.mean()

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [329]:
answer_ls.append(1)
data.runtime.median()

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [330]:
answer_ls.append(5)
display(data[data['profit'] == data.profit.max()])

       imdb_id  popularity  ...  title_length  title_length_word
239  tt0499549    9.432768  ...             6                  1

[1 rows x 21 columns]

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [331]:
answer_ls.append(2)
display(data[data['profit'] == data.profit.min()])

       imdb_id  popularity  ...  title_length  title_length_word
491  tt1032751     0.25054  ...            17                  3

[1 rows x 21 columns]

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [332]:
answer_ls.append(1)
display(len(data[data.profit>0]))

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [333]:
answer_ls.append(4)
data[(data.release_year==2008) & (data.profit == data[data.release_year==2008].profit.max())]

       imdb_id  popularity  ...  title_length  title_length_word
600  tt0468569    8.466668  ...            15                  3

[1 rows x 21 columns]

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [335]:
answer_ls.append(5)
data[(data.release_year>2011) & (data.release_year<2015)&  (data.profit == data[(data.release_year>2011) & (data.release_year<2015)].profit.min())]

        imdb_id  popularity  ...  title_length  title_length_word
1246  tt1210819     1.21451  ...            15                  3

[1 rows x 21 columns]

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [338]:
answer_ls.append(3)
data.genres.str.split('|', expand=True).stack().value_counts().head(1)

Drama    782
dtype: int64

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [339]:
answer_ls.append(1)
data[data.profit>0].genres.str.split('|', expand=True).stack().value_counts().head(1)

Drama    560
dtype: int64

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [340]:
answer_ls.append(3)
data['director'].value_counts().head(1)

Steven Soderbergh    13
Name: director, dtype: int64

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [341]:
answer_ls.append(4)
data[data.profit>0]['director'].value_counts().head(1)

Ridley Scott    12
Name: director, dtype: int64

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [342]:
answer_ls.append(5)
data.groupby(['director'])['profit'].sum().sort_values()

director
Sngmoo Lee               -413912431
James L. Brooks           -96289726
Ron Underwood             -92896027
Peter Hyams               -86956545
David Bowers|Sam Fell     -84540684
                            ...
Michael Bay              2760938960
J.J. Abrams              2839169916
Christopher Nolan        3162548502
David Yates              3379295625
Peter Jackson            5202593685
Name: profit, Length: 958, dtype: int64

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [343]:
answer_ls.append(1)
tmp = data.cast.str.split('|', expand=True).stack().reset_index().merge(data['profit'],left_on = 'level_0', right_on = data.index)
tmp.groupby(0)['profit'].sum().sort_values()

0
Jang Dong-gun         -413912431
Ti Lung               -413912431
Kate Bosworth         -369455668
Emilio EchevarrÃ­a    -119180039
Elisabeth Harnois     -111007242
                         ...
Robert Downey Jr.     5316030161
Ian McKellen          6087375777
Rupert Grint          6408638290
Daniel Radcliffe      6514990281
Emma Watson           6666245597
Name: profit, Length: 3408, dtype: int64

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [344]:
answer_ls.append(3)
tmp = data[data['release_year'] == 2012].cast.str.split('|', expand=True).stack().reset_index().merge(data['profit'],left_on = 'level_0', right_on = data.index)
tmp.groupby(0)['profit'].sum().sort_values()

0
Kirsten Dunst         -68109207
Heidi Hawkins         -51893525
James Kidnie          -51893525
Timothy Spall         -51893525
Malin Ã…kerman        -43733509
                        ...
Robert Downey Jr.    1299557910
Mark Ruffalo         1299557910
Chris Evans          1299557910
Denis Leary          1319460639
Chris Hemsworth      1542450773
Name: profit, Length: 466, dtype: int64

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [345]:
answer_ls.append(3)
tmp = data[data['budget'] > data['budget'].mean()].cast.str.split('|', expand=True).stack().value_counts()
display(tmp)

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Piper Perabo          1
Gary Cole             1
Susie Essman          1
Paul Soles            1
John Ortiz            1
Length: 1508, dtype: int64

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [346]:
answer_ls.append(2)
count_genres= Counter()
for x in data.loc[data['cast'].map(lambda x: True if 'Nicolas Cage' in x else False)]['genres'].str.split('|'):
  count_genres+=Counter(x)
display(count_genres.most_common())

[('Action', 17),
 ('Thriller', 15),
 ('Drama', 12),
 ('Crime', 10),
 ('Fantasy', 8),
 ('Adventure', 7),
 ('Comedy', 6),
 ('Science Fiction', 4),
 ('Mystery', 3),
 ('Animation', 3),
 ('Family', 3),
 ('History', 2),
 ('War', 1),
 ('Horror', 1),
 ('Romance', 1)]

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [347]:
answer_ls.append(1)
tmp = data.production_companies.str.split('|', expand=True).stack().value_counts().head(1)
display(tmp)

Universal Pictures    173
dtype: int64

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [348]:
answer_ls.append(4)
tmp = data[data['release_year'] == 2015].production_companies.str.split('|', expand=True).stack().value_counts().head(1)
display(tmp)

Warner Bros.    12
dtype: int64

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [349]:
answer_ls.append(2)
tmp = data.production_companies.str.split('|', expand=True).stack().reset_index().merge(data,left_on = 'level_0', right_on = data.index)
tmp.rename(columns={0: 'company'}, inplace=True)
genres = tmp[tmp.genres.str.contains('Comedy',na = False)]
display(genres.groupby(['company'])['profit'].sum().sort_values(ascending = False))

company
Universal Pictures                        8961545581
Walt Disney Pictures                      7669710326
Twentieth Century Fox Film Corporation    5686960294
Columbia Pictures                         5646343696
DreamWorks Animation                      4789049764
                                             ...
Warner Bros. Pictures                      -54738687
Shangri-La Entertainment                   -55170786
Dark Horse Entertainment                   -68351500
Road Rebel                                 -71331093
Mel's Cite du Cinema                       -92896027
Name: profit, Length: 702, dtype: int64

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [350]:
answer_ls.append(3)
tmp = data[data['release_year'] == 2012].production_companies.str.split('|', expand=True).stack().reset_index().merge(data['profit'],left_on = 'level_0', right_on = data.index)
tmp.groupby(0)['profit'].sum().sort_values()

0
France 2 CinÃ©ma       -82545651
Studio 37              -51893525
Transfilm              -51893525
Onyx Films             -51893525
Jouror Productions     -51893525
                         ...
Relativity Media      1032593938
Warner Bros.          1258020056
Marvel Studios        1299557910
Universal Pictures    1981011579
Columbia Pictures     2501406608
Name: profit, Length: 236, dtype: int64

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [351]:
answer_ls.append(1)
tmp = data.production_companies.str.split('|', expand=True).stack().reset_index().merge(data,left_on = 'level_0', right_on = data.index)
tmp = tmp[tmp[0] == 'Paramount Pictures']
prof = tmp[tmp['profit']==tmp[tmp[0] == 'Paramount Pictures']['profit'].min()]
display(prof)

      level_0  level_1  ... title_length title_length_word
2999      926        0  ...           20                 3

[1 rows x 24 columns]

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [352]:
answer_ls.append(5)
data.groupby(['release_year'])['profit'].sum().sort_values(ascending = False)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2009    13423744372
2010    13117292530
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [353]:
answer_ls.append(1)
warner_df = data.loc[data['production_companies'].apply(lambda x: 'Warner Bros' in x)]
grouped_df = warner_df.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False)
display(grouped_df)

release_year
2014    3243064519
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
2003    2745493377
2009    2737954136
2004    2731933725
2013    2599953400
2005    2412980298
2001    2266545668
2012    1869520056
2002    1702709901
2015    1691168351
2006    1521170743
2000    1025531386
Name: revenue, dtype: int64

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [354]:
answer_ls.append(4)
data['month'] = [release_date.split('/')[0] for release_date in data.release_date]
data['month'].value_counts()

9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [355]:
answer_ls.append(2)
date = data['month'].value_counts()
display(date['6']+date['7']+date['8'] )

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [356]:
answer_ls.append(5)
tmp = data.query('month in ["12","1","2"]')
tmp = tmp.director.str.split('|', expand=True).stack().reset_index().merge(data,left_on = 'level_0', right_on = data.index)
tmp[0].value_counts()

Peter Jackson                       7
Steven Soderbergh                   6
Clint Eastwood                      6
Shawn Levy                          4
Nancy Meyers                        4
                                   ..
Will Gluck                          1
Betty Thomas                        1
Ed Gass-Donnelly                    1
Florian Henckel von Donnersmarck    1
Scott Waugh                         1
Name: 0, Length: 359, dtype: int64

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [357]:
answer_ls.append(2)
pivot = data.loc[data['month'].isin(['1','5','6','9','12'])].pivot_table(values=['profit'],index = ['release_year'], columns = ['month'], aggfunc = 'sum') 
display(pivot.idxmax(axis=1))

release_year
2000    (profit, 12)
2001    (profit, 12)
2002    (profit, 12)
2003     (profit, 5)
2004     (profit, 5)
2005     (profit, 5)
2006     (profit, 6)
2007     (profit, 6)
2008     (profit, 6)
2009    (profit, 12)
2010     (profit, 6)
2011     (profit, 5)
2012     (profit, 6)
2013     (profit, 6)
2014     (profit, 5)
2015     (profit, 6)
dtype: object

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [358]:
answer_ls.append(5)
data['title_length'] = [len(original_title) for original_title in data.original_title]
tmp = data.production_companies.str.split('|', expand=True).stack().reset_index().merge(data,left_on = 'level_0', right_on = data.index)
sum_gen = tmp[0].value_counts()
for gen in sum_gen.index:
  sum_gen[gen] = data['title_length'][data['production_companies'].map(lambda x: True if gen in x else False)].mean()
sum_gen = pd.DataFrame(sum_gen).sort_values(0, ascending = False)
display(sum_gen)

                             0
Four By Two Productions     83
Jim Henson Company, The     59
Dos Corazones               47
Polsky Films                46
Museum Canada Productions   46
...                         ..
Berlanti Productions         3
Everest Entertainment        3
Global Entertainment Group   2
Ixtlan Productions           2
XM2 Productions              2

[1772 rows x 1 columns]

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [359]:
answer_ls.append(5)
data['title_length_word'] = [len(original_title.split()) for original_title in data.original_title]
tmp = data.production_companies.str.split('|', expand=True).stack().reset_index().merge(data,left_on = 'level_0', right_on = data.index)
sum_gen = tmp[0].value_counts()
for gen in sum_gen.index:
  sum_gen[gen] = data['title_length_word'][data['production_companies'].map(lambda x: True if gen in x else False)].mean()
sum_gen = pd.DataFrame(sum_gen).sort_values(0, ascending = False)
display(sum_gen)

                             0
Four By Two Productions     12
Jim Henson Company, The     10
Dos Corazones                9
Polsky Films                 9
The Saul Zaentz Company      9
...                         ..
Egmond Film & Television     1
Laura Bickford Productions   1
Liddell Entertainment        1
Rickshaw Productions         1
FilmWorks                    1

[1772 rows x 1 columns]

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [360]:
answer_ls.append(3)
words = set()
for i in data['original_title'].to_list():
  for j in i.lower().split():
    words.add(j)
print(len(words))

2461

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [361]:
answer_ls.append(1)
data[data['vote_average']>data.quantile(0.99, numeric_only = True)['vote_average']]

        imdb_id  popularity  ...  title_length  title_length_word
9     tt2096673    6.326804  ...            10                  2
34    tt3170832    3.557846  ...             4                  1
118   tt0816692   24.949134  ...            12                  1
119   tt2015381   14.311205  ...            23                  4
125   tt2084970    8.110711  ...            18                  3
128   tt2267998    6.438727  ...             9                  2
138   tt2278388    4.930820  ...            24                  4
370   tt1375666    9.363643  ...             9                  1
600   tt0468569    8.466668  ...            15                  3
873   tt0253474    2.364204  ...            11                  2
1082  tt0167260    7.122455  ...            45                 10
1184  tt0993846    4.877927  ...            23                  5
1192  tt2024544    3.625529  ...            16                  4
1801  tt0209144    3.095625  ...             7                  1

[14 rows x 21 columns]

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [362]:
answer_ls.append(5)
para_1 = 0
para_2 = 0
para_3 = 0
para_4 = 0
para_5 = 0
for x in data['cast']:
  if 'Johnny Depp' in x and 'Helena Bonham Carter' in x:
      para_1+=1
  if 'Hugh Jackman' in x and 'Ian McKellen' in x:
      para_2+=1   
  if 'Vin Diesel' in x  and  'Paul Walker' in x:
      para_3+=1
  if 'Adam Sandler' in x and  'Kevin James' in x:
      para_4+=1
  if 'Daniel Radcliffe'in x  and 'Rupert Grint' in x:
      para_5+=1    
display(para_1)  
display(para_2)  
display(para_3)  
display(para_4)  
display(para_5)

6

5

5

5

8

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [363]:
answer_ls.append(4)
tmp = data.director.str.split('|', expand=True).stack().reset_index().merge(data['profit'],left_on = 'level_0', right_on = data.index)
tmp.rename(columns={0: 'direct'}, inplace=True)
tmp = tmp.query('direct in ["Quentin Tarantino", "Steven Soderbergh", "Robert Rodriguez", "Christopher Nolan", "Clint Eastwood"]')
tmp.groupby(['direct'])['profit'].sum().sort_values()

direct
Robert Rodriguez      496768969
Quentin Tarantino    1036139583
Clint Eastwood       1329766334
Steven Soderbergh    1450928588
Christopher Nolan    3162548502
Name: profit, dtype: int64

# Submission

In [364]:
len(answer_ls)

36

In [365]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4